// post Navigation
.navigation .nav-links {
    font-family: $mgmr_font_family__alternative;
    a, a:visited {
        color: $mgmr_color__primary;
    }

    @include clearfix();

    .nav-next a::after {
        content: '\00BB';
        padding-left: 5px;
    }

    .nav-previous a::before {
        content: '\00AB';
        padding-right: 5px;
    }
}
